@using Driver_Report.Components.Shared
@inherits LayoutComponentBase
@inject IJSRuntime JS

<div class="page">
    <header class="d-flex justify-content-end p-3">
       <ThemeToggle />
    </header>

    <main>
        <article class="content pb-5">
            @Body
        </article>
    </main>
</div>
